[mysqld]
# Use InnoDB storage engine
default-storage-engine = InnoDB

# InnoDB buffer pool size - 1G (adjust depending on your system memory)
innodb_buffer_pool_size = 1G

# The number of I/O threads for InnoDB. The default value is 4.
innodb_write_io_threads = 4
innodb_read_io_threads = 4

# The size of the buffer that InnoDB uses to write logs to the log files on disk.
innodb_log_buffer_size = 16M

# The size of each log file in a log group
innodb_log_file_size = 64M

# The number of log files in the log group.
innodb_log_files_in_group = 2

# The length of time in seconds an InnoDB transaction may wait for a row lock
innodb_lock_wait_timeout = 50

# Specifies how often (in seconds) the flush thread of InnoDB should flush the buffer pool
innodb_flush_log_at_trx_commit = 1

# Number of rollback segments
innodb_rollback_segments = 4

# Other potential settings you might consider for performance:
#innodb_flush_method = O_DIRECT
#innodb_file_per_table

[mysqldump]
quick
quote-names
max_allowed_packet = 16M

[isamchk]
key_buffer = 16M

